:root{

    /* colors */
    --brg-color: #110d49;
    --font-color: white;
    --secondary-color: #2953aa;
    --tertiary-color: #3f36bd;
    --accent-color1: #9164bb;
    --accent-color2: #d293b9;
    --font-hover: black;
    --card-color: rgba(255, 255, 255, 0.25);
    --card-hover: rgba(255, 255, 255, 0.35);

    /* fonts and sizes */
    --font-body: Arial, sans-serif;
    --standard-size: 20px;
    --smaller: 0.75em;
    --bigger: 1.25em;
    --title-size: 1.75em;
    --other-title: 2.75em;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--standard-size);
    background-color: var(--brg-color);
    color: var(--font-color);
}
header {
    background-color: var(--secondary-color);
    font-size: var(--title-size);
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1em;

}

header h1 {
    font-size: var(--title-size) !important;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: h1anima 2s linear 2 alternate;
}

@keyframes h1anima {
    0% {
        /* background-color: blue; */
        transform: translateY(0);
    }
    33% {
        /* background-color: yellow; */
        transform: translateY(50px);
    }
    66% {
        /* background-color: red; */
        transform: rotateY(100px);
    }
    100% {
        /* background-color: brown; */
        transform: rotateY(150px);
    }
}

a {
    color: var(--font-color);
    text-decoration: none;
}

#search-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar{
    height: 25px;
}

#button-search{
    background-color: var(--accent-color2);
    height: 30px;
    width: 30px;
    margin-left: 5px;
}
/* main {

} */
footer {
    font-size: var(--smaller);
    background-color: var(--secondary-color);
    padding: 2em;
    text-align: center;
}

/* Main page trailer list */

/* button */
#switch{
    background-color: var(--tertiary-color);
    color: var(--font-color);
    font-size: var(--standard-size);
    width: 200px;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    border: none;
}

#switch:hover{
    background-color: var(--accent-color2);
    color: var(--font-hover);
    cursor: pointer;
}

#button-holder{
    padding-bottom: 15px;
}

/* trailer player */
iframe {
    width: 400px;
    height: 225px;
}

/* trailer stuff */
#trailers-block{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#trailer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    align-content: baseline;
}

.trailer-card {
    background-color: var(--card-color);
    list-style-type: none;
    flex-basis: 200px;
    max-width: 200px;
    height: auto;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
    row-gap: 5px;
    border-radius: 25px;
    border: white;
}

.trailer-card:hover{
    background-color: var(--card-hover);
}

.trailer-card p {
    font-size: var(--smaller);
    color: var(--font-color);
    text-align: center;
    margin-top: auto;
    font-weight: bold;
}

.trailer-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    padding-top: 5px;
    width: 150px;
    height: auto;
}

.title-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

/* hide or show the player box */

.hide {
    display: none;
}

.show {
    display: block;
}

/* search results page */
#search-title{
    font-size: var(--other-title);
}

#serach-block {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#serach-block ul{
    padding-left: 0px;
}

.result-card{
    list-style-type: none;
    color: var(--font-color);
    padding-bottom: 15px;
    
}

.result-card a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 25px;
    padding: 10px;
    align-items: center;
    border-radius: 25px;
}

.result-card a:hover{
    background-color: var(--card-hover);
    /* color: var(--font-hover); */
}

.result-card img{
    height: 150px;
    width: auto;
}

.result-info{
    text-align: left;
    padding-left: 10px;
}

/* Movie pages */
#movie-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

#movie-posters{
    display: grid;
    align-items: center;
    justify-content: center;
}

#movie-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movie-left{
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 2px var(--font-color);
    display: grid;
    align-items: center;
}

#movie-summary{
    width: 75%;
    height: auto;
}

/* for medium screens */
@media screen and (min-width: 767px){
    iframe {
        width: 704px;
        height: 396px;
        /* resize: both;
        overflow: auto; */
    }
}

/* for large screens */
@media screen and (min-width: 1025px){
    iframe {
        width: 1280px;
        height: 640px;
        /* resize: both;
        overflow: auto; */
    }
}